extends inc/template

block title
    title Page B

append css
    link(rel='stylesheet', href='style/main2.css')

block aside
    // Nav Menu
    include ./inc/menu
    // END Nav Menu

block content
    // Content -- start
    h1 Page B
    h3 Jade is awesome
    include inc/adv
    #adv
        ul
            li Jade
            li Is
            li Awesome
    // Content -- end
