extends inc/template

block title
    title Page B

block aside
    // Nav Menu
    include ./inc/menu
    // END Nav Menu

block content
    // Content -- start
    h1 Page B
    h3 Jade is awesome
    include inc/adv
    // Content -- end