extends inc/template

block title
    title Page B

append css
    link(rel='stylesheet', href='style/main2.css')

block aside
    // Nav Menu
    +menu({'Главная' : '', 'О компании' : 'page-a.html', 'Новости' : 'page-b.html', 'Товары и услуги' : 'services', 'Контакты' : 'contacts'})
    // END Nav Menu

block content
    // Content -- start
    h1 Page B
    h3 Jade is awesome
    include inc/adv
    // Content -- end
