doctype html
html
     head
          title Page A
     body
          #wrapper
               aside
                    // Nav Menu
                    include ./inc/menu
                    // END Nav Menu
               article
                    // Content
                    h1 This is page A
                    p Lorem ipsum paragraph
                    include ./inc/advantages
                    // End content
