ul.advantages-list
    li Позволяет разбивать шаблон на логические блоки с помощь include, что позволяет избегать длинных простыней
    li Повторное использование блоков в схожих шаблонах (Dont Repeat Yourself)
    li Позволяет использовать шаблоны для общих блоков(через extends и block)
    li Можно указать содержимое блока по умолчанию(значение затирается)
    li Чтобы избежать перезаписи используется append/prepand  (пример - append/prepand blockName)
    li Повторное и параметризированное использованное блоков кода можно реализовать с помощью mixin'ов
    li Инклудить миксины можно в главном темплейте, тогда не нужно в каждом расширяющем файле подключать миксины
    li
        | Миксины позволяют на любой чих написать свой миксин и многократно-многократно им пользоваться

