ul
    li Позволяет разбивать шаблон на логические блоки с помощь include, что позволяет избегать длинных простыней
    li Повторное использование блоков в схожих шаблонах (Dont Repeat Yourself)
    li Позволяет использовать шаблоны для общих блоков(через extends и block)