doctype html
html(lang='ru')
    head
        meta(charset='utf-8')
        meta(name='viewport', content='width=device-width, initial-scale=1.0')
        block title
        block css
            link(rel='stylesheet', href='style/main.css')
    body
        #wrapper
            aside
                block aside
            article
                block content